<div class="container-fluid mt-4">
  <h2>Crear usuario</h2>
  <form class="row g-3" (ngSubmit)="saveUser()">
    <div class="col-md-4">
      <label for="name" class="form-label" >Nombre</label>
      <input type="text" class="form-control" id="name" value="Mark" [(ngModel)]="user.name" required name="name">
    </div>
    <div class="col-md-2">
      <label for="age" class="form-label">Edad</label>
      <input type="number" class="form-control" id="age" value="Otto" [(ngModel)]="user.age" required name="age">
    </div>
    <div class="col-md-6">
      <label for="email" class="form-label">Email</label>
      <div class="input-group">
        <span class="input-group-text" id="inputGroupPrepend2"></span>
        <input type="email" class="form-control" id="email" aria-describedby="inputGroupPrepend2" [(ngModel)]="user.email" required name="email">
      </div>
    </div>
    <div class="col-md-6">
      <label for="nickname" class="form-label">nickname</label>
      <input type="text" class="form-control" id="nickname" [(ngModel)]="user.nickname" required name="nickname">
    </div>
    <div class="col-md-4">
      <label for="password" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="password"[(ngModel)]="user.password" required name="password">
    </div>
    <div class="col-md-2">
      <label for="validationDefault04" class="form-label">Rol</label>
      <select class="form-select" id="validationDefault04" [(ngModel)]="user.rol" required name="rol">
        <option selected disabled value="">Choose...</option>
        <option value="admin">admin</option>
        <option value="user">user</option>
      </select>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Enviar Formato</button>
    </div>
  </form>

</div>