<div class="container mt-4">
  <h2 class="my-5">Usuarios Registrados</h2>
  <div class="filters mb-3">
    <div class="row">

      <!-- Filtros -->

      <!-- Filtro por Nickname -->
      <div class="col-6">
        <input type="text" class="form-control" placeholder="Filtrar por Nickname" [(ngModel)]="nicknameFilter"
          (input)="applyFilters()">
      </div>
      <div class="col-6">
        <!-- Filtro por Rol -->
        <select class="form-control" [(ngModel)]="rolFilter" (change)="applyFilters()">
          <option value="">Seleccionar Rol</option>
          <option value="admin">Admin</option>
          <option value="user">Usuario</option>
          <option value="moderator">Moderador</option>
          <!-- Puedes agregar más opciones según tus roles -->
        </select>
      </div>
    </div>
  </div>
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th>ID</th>
        <th>name</th>
        <th>Nickname</th>
        <th>Age</th>
        <th>Email</th>
        <th>Rol</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of filteredUsers">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.nickname }}</td>
        <td>{{ user.age }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.rol }}</td>
        <td>
          <button class="btn btn-warning btn-sm mx-2" (click)="editUser(user)">Editar</button>
          <button class="btn btn-danger btn-sm" (click)="deleteUser(user.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal de edición de usuario -->
<div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editUserModalLabel">Editar Usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm" (ngSubmit)="saveUser()">
          <div class="mb-3">
            <label for="nickname" class="form-label">Nickname</label>
            <input type="text" class="form-control" id="nickname" [(ngModel)]="selectedUser.nickname" name="nickname"
              required>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="nickname" [(ngModel)]="selectedUser.password" name="password"
              required>
          </div>
          <div class="mb-3">
            <label for="age" class="form-label">Edad</label>
            <input type="number" class="form-control" id="age" [(ngModel)]="selectedUser.age" name="age" required>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="selectedUser.email" name="email" required>
          </div>
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="selectedUser.name" name="name" required>
          </div>
          <div class="mb-3">
            <label for="rol" class="form-label">Rol</label>
            <select class="form-select" aria-label="Default select example" id="rol" [(ngModel)]="selectedUser.rol"
              name="rol" required>
              <option selected>Open this select menu</option>
              <option value="Admin">Admin</option>
              <option value="User">User</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
      </div>
    </div>
  </div>
</div>